<!doctype html>
<html lang="en" ng-app="bolaoApp">
<head>
  <meta charset="utf-8">

  <title>Bolão</title>

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">

  <style>
    .gray {
      background-color: lightgray;
    }

    body {
      margin-bottom: 20px;
    }

  </style>

</head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand" href="#">{{user.first_name}} {{user.last_name}}</span>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class=""><a href="/sim">Simulador</a></li>
        <li class="active"><a href="/player/">Pontuação</a></li>
        <li class=""><a href="/ranking/">Classificação</a></li>
        <li class=""><a href="/rules/">Regulamento</a></li>
      </ul>

      <div class="navbar-nav navbar-right">
        <a href="/logout" class="btn navbar-btn">Sair</a>
      </div>

    </div>
  </div>
</div>

<div class="container">

  {% if group_bets %}

  <h3>Pontuação atual: {{ total_score }}</h3>

  <div class="row">
    <div class="col-md-4">
      <h4>Fase de Grupos</h4>
    </div>
    <div class="col-md-4">
      <h4>Resultado</h4>
    </div>
    <div class="col-md-4">
      <h4>Pontos</h4>
    </div>
  </div>

  {% for bet in group_bets %}
  {% with bet.game as match %}
  <div class="row {% if forloop.counter|divisibleby:2 %}gray{% endif %}">
    <div class="col-md-4">
      <h6>Jogo {{match.id}}: {{match.home_team.name}} - {{bet.home_score}} X {{bet.away_score}} -
        {{match.away_team.name}}</h6>
    </div>

    <div class="col-md-4">
      <h6>
        {% if match.has_started %}
        {{match.home_team.name}} - {{match.home_goals_normal_time}} X
        {{match.away_goals_normal_time}} - {{match.away_team.name}}
        {% else %}
        Ainda nem começou.
        {% endif %}
      </h6>
    </div>

    <div class="col-md-4">
      <h6>{{ bet.player_score }}</h6>
    </div>
  </div>
  {% endwith %}
  {% endfor %}

  <h3>Oitavas</h3>
  {% for bet in round_16_bets %}
  {% with bet.game as match %}
  <div class="row {% if forloop.counter|divisibleby:2 %}gray{% endif %}">
    <div class="col-md-4">
      <h6>Jogo {{match.id}}: {{bet.home_team.name}} - {{bet.home_score}} X {{bet.away_score}}
        - {{bet.away_team.name}} {% if bet.is_a_tie %} <em>({{ bet.winner.name }})</em>{% endif %}</h6>
    </div>

    <div class="col-md-4">
      <h6>
        {% if match.has_started %}
          {{match.home_team.name}} - {{match.home_goals_normal_time}} X
          {{match.away_goals_normal_time}} - {{match.away_team.name}}
          {% if match.is_a_tie %} <em>({{ match.get_winner.name }})</em>{% endif %}
        {% else %}
        Ainda nem começou.
        {% endif %}
      </h6>
    </div>

    <div class="col-md-4">
      <h6>{{ bet.player_score }}</h6>
    </div>
  </div>
  {% endwith %}
  {% endfor %}

  <h3>Quartas</h3>
  {% for bet in quarter_bets %}
  {% with bet.game as match %}
  <div class="row {% if forloop.counter|divisibleby:2 %}gray{% endif %}">
    <div class="col-md-4">
      <h6>Jogo {{match.id}}: {{bet.home_team.name}} - {{bet.home_score}} X {{bet.away_score}}
        - {{bet.away_team.name}} {% if bet.is_a_tie %} <em>({{ bet.winner.name }})</em>{% endif %}</h6>
    </div>

    <div class="col-md-4">
      <h6>
        {% if match.has_started %}
          {{match.home_team.name}} - {{match.home_goals_normal_time}} X
          {{match.away_goals_normal_time}} - {{match.away_team.name}}
          {% if match.is_a_tie %} <em>({{ match.get_winner.name }})</em>{% endif %}
        {% else %}
        Ainda nem começou.
        {% endif %}
      </h6>
    </div>

    <div class="col-md-4">
      <h6>{{ bet.player_score }}</h6>
    </div>
  </div>
  {% endwith %}
  {% endfor %}

  <h3>Semi-finais</h3>
  {% for bet in semi_bets %}
  {% with bet.game as match %}
  <div class="row {% if forloop.counter|divisibleby:2 %}gray{% endif %}">
    <div class="col-md-4">
      <h6>Jogo {{match.id}}: {{bet.home_team.name}} - {{bet.home_score}} X {{bet.away_score}}
        - {{bet.away_team.name}} {% if bet.is_a_tie %} <em>({{ bet.winner.name }})</em>{% endif %}</h6>
    </div>

    <div class="col-md-4">
      <h6>
        {% if match.has_started %}
          {{match.home_team.name}} - {{match.home_goals_normal_time}} X
          {{match.away_goals_normal_time}} - {{match.away_team.name}}
          {% if match.is_a_tie %} <em>({{ match.get_winner.name }})</em>{% endif %}
        {% else %}
        Ainda nem começou.
        {% endif %}
      </h6>
    </div>

    <div class="col-md-4">
      <h6>{{ bet.player_score }}</h6>
    </div>
  </div>
  {% endwith %}
  {% endfor %}

  <h3>Disputa de terceiro lugar</h3>
  {% with third_place as bet %}
  {% with bet.game as match %}
  <div class="row">
    <div class="col-md-4">
      <h6>Jogo {{match.id}}: {{bet.home_team.name}} - {{bet.home_score}} X {{bet.away_score}}
        - {{bet.away_team.name}} {% if bet.is_a_tie %} <em>({{ bet.winner.name }})</em>{% endif %}</h6>
    </div>

    <div class="col-md-4">
      <h6>
        {% if match.has_started %}
          Jogo {{match.id}}: {{match.home_team.name}} - {{match.home_goals_normal_time}} X
          {{match.away_goals_normal_time}} - {{match.away_team.name}}
          {% if match.is_a_tie %} <em>({{ match.get_winner.name }})</em>{% endif %}
        {% else %}
        Ainda nem começou.
        {% endif %}
      </h6>
    </div>

    <div class="col-md-4">
      <h6>{{ bet.player_score }}</h6>
    </div>
  </div>
  {% endwith %}
  {% endwith %}

  <h3>Final</h3>
  {% with final as bet %}
  {% with bet.game as match %}
  <div class="row gray">
    <div class="col-md-4">
      <h6>Jogo {{match.id}}: {{bet.home_team.name}} - {{bet.home_score}} X {{bet.away_score}}
        - {{bet.away_team.name}} {% if bet.is_a_tie %} <em>({{ bet.winner.name }})</em>{% endif %}</h6>
    </div>

    <div class="col-md-4">
      <h6>
        {% if match.has_started %}
          Jogo {{match.id}}: {{match.home_team.name}} - {{match.home_goals_normal_time}} X
          {{match.away_goals_normal_time}} - {{match.away_team.name}}
          {% if match.is_a_tie %} <em>({{ match.get_winner.name }})</em>{% endif %}
        {% else %}
        Ainda nem começou.
        {% endif %}
      </h6>
    </div>

    <div class="col-md-4">
      <h6>{{ bet.player_score }}</h6>
    </div>
  </div>
  {% endwith %}
  {% endwith %}

  <div class="row">
    <div class="col-md-12">
        <h3>Resultado final</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <h6>4o. lugar: {{third_place.get_loser.name}}</h6>
    </div>
    <div class="col-md-4">
        <h6>{{third_place.game.get_loser.name}}</h6>
    </div>
    <div class="col-md-4">
        <h6>{{podium_scores.4}}</h6>
    </div>
  </div>

  <div class="row gray">
    <div class="col-md-4">
        <h6>3o. lugar: {{third_place.get_winner.name}}</h6>
    </div>
    <div class="col-md-4">
        <h6>{{third_place.game.get_winner.name}}</h6>
    </div>
    <div class="col-md-4">
        <h6>{{podium_scores.3}}</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <h6>Vice-campeão: {{final.get_loser.name}}</h6>
    </div>
    <div class="col-md-4">
        <h6>{{final.game.get_loser.name}}</h6>
    </div>
    <div class="col-md-4">
        <h6>{{podium_scores.2}}</h6>
    </div>
  </div>

  <div class="row gray">
    <div class="col-md-4">
        <h6>Campeão: {{final.get_winner.name}}</h6>
    </div>
    <div class="col-md-4">
        <h6>{{final.game.get_winner.name}}</h6>
    </div>
    <div class="col-md-4">
        <h6>{{podium_scores.1}}</h6>
    </div>
  </div>


  {% else %}
  <h4>Não fizesse nenhuma aposta ainda.</h4>
  {% endif %}

</div>

</body>
</html>